@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@200;400;600&display=swap');

:root {
  --black: #0e0c0b;
  --grey: #999;
  --red: #ff0000;
  --green: #8bec55;
  --yellow: #ff9c00;
  --blue: #00a2ff;
  --magenta: #ff00ce;
  --cyan: #0bf8ee;
  --white: #ffffff;
}

body {
  background-color: var(--black);
  color: var(--white);
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

#lasers {
  background-image: url("bg_eb.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1005;
  image-rendering: crisp-edges;
}

h1 {
  text-align: center;
  color: var(--white);
  text-shadow: var(--black) -3px 3px;
  font-size: 72px;
  margin-top: 0;
}

main {
  max-width: 60em;
  margin: auto;
}

.controls-container {
  display: flex;
}

#audioPlayer {
  width: 10em;
  display: block;
}

#ratingControls div {
  display: flex;
  font-size: 72px;
}

#trackList {
  background-color: var(--black);
  padding: 30px 40px;
}

.track{
  padding: 10px 0;
  transition: padding 0.35s ease-in;
  display: flex;
}

.track:hover {
  padding-left: 40px;
  transition: padding 0.15s ease-out;
}

.track p {
  margin: 0;
}

.track .albumTitle {
  font-size: 0.8em;
}

.currently-playing {
  font-weight: bold;
}

